In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
king_county = pd.read_csv("kc_house_data.csv")

In [6]:
popln = pd.read_csv("zicode_pop.csv")

In [7]:
print("This project intends to apply ML techiniques and EDA to identify the zipcodes in King County, WA and how are their prices.I will be using two data sets : king_couty data set from kaggle and a zipcodes with populatin data from king county website.")

This project intends to apply ML techiniques and EDA to identify the zipcodes in King County, WA and how are their prices.I will be using two data sets : king_couty data set from kaggle and a zipcodes with populatin data from king county website.

In [19]:
print("The king county data has " + str(king_county.shape[0]) + " rows and " + str(king_county.shape[1]) + " columns.")

The king county data has 21613 rows and 21 columns.

In [20]:
print("Similarly, the zipcodes population data has " + str(popln.shape[0]) + " rows and " + str(popln.shape[1]) + " columns.")

Similarly, the zipcodes population data has 120 rows and 6 columns.

In [21]:
print("The data sets will be joined on zipcodes")

The data sets will be joined on zipcodes

In [7]:
king_county.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [8]:
popln.head()

         ZIP Code Classification         City Population Timezone Area Code(s)
0  ZIP Code 98001        General       Auburn     31,911  Pacific          253
1  ZIP Code 98002        General       Auburn     31,647  Pacific          253
2  ZIP Code 98003        General  Federal Way     44,151  Pacific          253
3  ZIP Code 98004        General     Bellevue     27,946  Pacific          425
4  ZIP Code 98005        General     Bellevue     17,714  Pacific          425

In [ ]:
#Summaries:
king_county.info()

In [ ]:
print(king_county['price'].describe())

In [ ]:
king_county['yr_renovated'] = np.where(king_county['yr_renovated'] != 0, 1, king_county['yr_renovated'])
king_county.head()

In [ ]:
fig, ax = plt.subplots(2, 3, figsize=(20, 9))
sns.distplot(king_county["price"], ax=ax[0,0])
sns.distplot(king_county["sqft_living"], ax=ax[0,1])
sns.distplot(king_county["sqft_lot"],ax=ax[0,2])
sns.distplot(king_county["sqft_above"], ax=ax[1,0])
sns.distplot(king_county["sqft_basement"],ax=ax[1,1])
;

In [ ]:
fig, ax = plt.subplots(2, 3, figsize=(20, 9))
sns.catplot(x="waterfront", kind = "count", palette="ch:.25", data=king_county,ax=ax[0,0])
sns.catplot(x="bedrooms", kind="count", palette="ch:.25", data=king_county,ax=ax[0,1])
sns.catplot(x="floors", kind="count", palette="ch:.25", data=king_county,ax=ax[0,2])
sns.catplot(x="view", kind = "count", palette="ch:.25", data=king_county,ax=ax[1,0])
sns.catplot(x="condition", kind = "count", palette="ch:.25", data=king_county,ax=ax[1,1])
sns.catplot(x="grade", kind = "count", palette="ch:.25", data=king_county,ax=ax[1,2]);
for i in range(2,8): 
    plt.close(i)

In [ ]:
sns.scatterplot(x="price",y="sqft_living", data = king_county, hue = "view")

In [ ]:
f, axes = plt.subplots(1, 2,figsize=(15,5))
sns.boxplot(x=king_county['bedrooms'],y=king_county['price'], ax=axes[0])
sns.boxplot(x=king_county['floors'],y=king_county['price'], ax=axes[1])

In [11]:
popln.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 6 columns):
ZIP Code          120 non-null object
Classification    120 non-null object
City              120 non-null object
Population        120 non-null object
Timezone          120 non-null object
Area Code(s)      120 non-null object
dtypes: object(6)
memory usage: 5.8+ KB